@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jersey+10&family=Quicksand:wght@300..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter, .fa-instagram {
  color: #817b88;
}

*{
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}
.title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 36px;
}
.subtitle {
  color: #817b88;
  font-weight: lighter;
  margin-bottom: 0.25em;
  font-size: 24px;
}
.cv li {
    margin-left: 20px;
    padding-bottom: 1.25em;
}
.cv a:visited, .cv a:link, .cv a:hover, .cv  a:active{
  color: #817b88;
  text-decoration: none;
  font-size: 20px;
}
.photo-gallery {
  display: flex;
  gap: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo-project img {
  width: 100%;
  max-width: 500px;
  max-height: 200px;
  object-fit: cover;
  padding-bottom: 1em;
}
.project-caption {
  text-align: center;
  font-size: 24px;
  padding-bottom: 0.25em;
}
.project-subcaption {
  text-align: center;
  font-size: 20px;
  color: #817b88;
  padding-bottom: 0.1em;
}
.photo img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0px 2px 7px #817b88;
}
.photo img:hover {
  scale: 102%;
  cursor: pointer;
}
@media(max-width:768px) {
  .photo-gallery{
    flex-direction: column;
  }
}
body {
  background-color: #e4e1e5;
  font-family: "Quicksand", Verdana, Arial, sans-serif;
}
h1 {
  color: blue;
}
p {
  padding-top: 2em;
  color: black;
  text-align: center;
}
#sidebar {
  height: 100%;
  width: 420px;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  background-color: #817b88;
  overflow-x: visible;
  padding-top: 20px;
}
#sidebar img{
  position: relative;
  left: -175px; 
  padding-top: 125px;
  scale: 85%;
  z-index: 1;
  filter: drop-shadow(5px 5px 5px #4d4b4f)
}
#about {
  margin-right: 480px;
}
#about p {
  color: #4d4b4f;
  padding-top: 0;
  text-align: left;
  margin: auto;
  max-width: 1224px;
  font-size: 23px;}
nav a {
  color: #817b88;
  text-decoration: none;
  font-weight: bold;
}
nav a:visited {
  color: #4d4b4f;
}
nav a:hover {
  size: 1000%;
}
#navbar {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1em;
  z-index: 1;
  box-shadow: 0px 5px 5px #817b88;
}
#logo {
  background-color: white;
  padding: 1em;
  padding-bottom: 0.25em;
  text-align: center;
}
