@import url('https://fonts.googleapis.com');

*{
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}
.title {
  margin-bottom: 1em;
  font-size: 36px;
}
.photo-gallery {
  display: flex;
  gap: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0px 2px 7px #817b88;
}
.photo img:hover {
  scale: 102%;
  cursor: pointer;
}
@media(max-width:768px) {
  .photo-gallery{
    flex-direction: column;
  }
}
body {
  background-color: #e4e1e5;
  font-family: "Quicksand", Verdana, Arial, sans-serif;
}
h1 {
  color: blue;
}
p {
  padding-top: 2em;
  color: black;
  text-align: center;
}
#about p {
  color: #4d4b4f;
  padding-top: 0;
  text-align: left;
  margin: auto;
  max-width: 1224px;
  font-size: 23px;}
nav a {
  text-decoration: none;
  font-weight: bold;
}
#navbar {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1em;
  z-index: 1;
  box-shadow: 0px 5px 5px #817b88;
}
#logo {
  background-color: white;
  padding: 1em;
  padding-bottom: 0.25em;
  text-align: center;
}